<button (click)="AddEmployee()">Add Employee</button>

<table>
    <tr>
        <th>Action</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Technology</th>
        <th>NO. Of Experience</th>
        
    </tr>
    <tr *ngFor="let emp of employeeList">
        <td><button (click)="ViewEmployee(emp.id)">V</button></td>
         <td>{{emp.firstName}}</td>
        <td>{{emp.lastName}}</td>
        <td>{{emp.technology}}</td>
        <td>{{emp.noofYearsExperience}}</td>
    </tr>
</table>

